.results {
  margin-top: 10px;
}

.common {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

.common span {
  width: 120px;
}

.thead {

}

.tbody {

}