.input {
font-family: 'Nanum Gothic';
  border: 0;
  padding: 20px 0;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  color: #eeeeee;
  background: #494e58;
  width: 100%;
  box-shadow: -2px 2px 20px 3px #1a1f2c;
}

.input:focus {
  outline: 0;
}