.timer {
  background: #eee;
  width: 120px;
  height: 120px;
  font-weight: 700;
  color: #282c34;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.timer:hover {
  box-shadow: 0px 17px 10px 2px #1a1f2c;
  opacity: .9;
  transition: all 0.2s;
}

.time {
  font-size: 2em;
}

.label {
  font-size: 0.7rem;
}

.svg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.svg_circle {
  fill: none; 
  stroke: #FFD000; 
  stroke-width: 4; 
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transition: all 1s;
}

